name = "worker-auth"
main = "src/index.ts"
compatibility_date = "2022-12-06"
compatibility_flags = []

[[ d1_databases ]]
binding = "DB" # i.e. available in your Worker on env.DB
database_name = "users"
database_id = "7e403b35-6c2f-4a11-9a67-68e413785dce"

[vars]
JWT_SECRET = "supersecret" # run `openssl rand -hex 32` to generate a random secret
DEVELOPMENT = true
ISSUER = "http://192.168.50.24:8787"

[env.production.vars]
DEVELOPMENT = false
ISSUER = "https://auth.example.com"
